.fondoLogin {
  background-image: linear-gradient(
      rgba(120, 120, 115, 0.83),
      rgba(249, 218, 153, 0.659)
    ),
    url("../../../assets/imagenes/fondoH4.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
  min-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloPagina {
  padding-top: 90px;
}
.fondoAdmin {
  background-image: linear-gradient(
      rgba(120, 120, 115, 0.83),
      rgba(249, 218, 153, 0.659)
    ),
    url("../../../assets/imagenes/fondoH4.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
  min-height: 90vh;
}
.imgPrendaTabla {
  width: 40px;
  height: 40px;
}
.textMensajeModal {
  white-space: normal; /* Permite que el texto salte de línea automáticamente */
  word-wrap: break-word; /* Divide palabras largas si es necesario */
}
