/* FONDO INICIO */
.fondoInicio {
  background-image: linear-gradient(
      rgba(120, 120, 115, 0.83),
      rgba(249, 218, 153, 0.659)
    ),
    url("../../../assets/imagenes/fondoH4.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
}
/* PORTADA */
.contenedorPortada {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
}

.imgCarousel {
  width: 90vw;
  height: 300px;
  object-fit: fill;
  border: 1px solid rgba(0, 0, 0, 0.488);
  border-radius: 15px;
  opacity: 0.9;
}

/* SECCION */
.cardSeccion {
  opacity: 0.9 !important;
}
.iconoSeccion {
  font-size: 35px;
}
/* PRODUCTOS */
.cardContenedor {
  border-radius: 10px;
  margin: 8px;
  transition: transform 0.3s ease!important; /* Agrega una transición suave a la transformación */
}
.cardContenedor:hover {
  transform: scale(
    1.05
  )!important; /* Hace que la imagen se agrande al 110% al pasar el mouse por encima */
}
.cardNombre {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}
.cardPrecio {
  font-weight: 600;
  background-color: greenyellow;
  padding: 3px 10px;
  border-radius: 10px;
  margin: 0 auto 4px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBotones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnCard {
  width: 70%;
}

/* Media query para dispositivos con un ancho máximo de 992px (típicamente dispositivos medianos) */
@media (max-width: 992px) {
  /* PORTADA */
  .contenedorPortada {
    padding: 20px;
  }
  .imgCarousel {
    width: 90vw;
    height: 300px;
    border-radius: 10px;
  }
}
/* Media query para dispositivos con un ancho máximo de 768px (típicamente dispositivos móviles) */
@media (max-width: 768px) {
  /* PORTADA */
  .contenedorPortada {
    padding: 20px;
  }
  .imgCarousel {
    width: 90vw;
    height: 210px;
    border-radius: 10px;
  }
  /* PRODUCTOS */
  .cardContenedor {
    margin: 10px 0px;
  }
  .cardPrecio {
    width: 80%;
  }
}
