/* FONDO INICIO */
.fondoInicio {
  background-image: linear-gradient(
      rgba(120, 120, 115, 0.83),
      rgba(249, 218, 153, 0.659)
    ),
    url("../../../assets/imagenes/fondoH4.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
}
/* PORTADA */

.contenedorPortada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 10px 0 !important;
}

.imgCarousel {
  width: 91vw;
  height: 300px;
  object-fit: fill;
  opacity: 0.9;
}

/* SECCION */

/* PRODUCTOS */
.cardContenedor {
  border-radius: 10px;
  margin: 8px;
  transition: transform 0.3s ease !important; /* Agrega una transición suave a la transformación */
}
.cardContenedor:hover {
  transform: scale(
    1.05
  ) !important; /* Hace que la imagen se agrande al 110% al pasar el mouse por encima */
}

.contenedorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardImagen {
  width: 100%;
  height: 220px;
  border-top-left-radius: 5px; /* Radio de la esquina superior izquierda */
  border-top-right-radius: 5px; /* Radio de la esquina superior derecha */
  object-fit: cover;
}
.cardNombre {
  margin: 2px;
  text-align: center;
  font-weight: 550;
  font-size: 0.8rem;
}
.cardPrecio {
  margin: 2px;
  text-align: center;
  font-weight: 550;
  background-color: chartreuse;
  width: 50%;
  border-radius: 50px;
  font-size: 0.8rem;
}
.contenedorBotones {
  margin: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnCard {
  font-size: 0.6rem;
  background-color: rgb(64, 64, 183);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 20px;
}
.iconoCard {
  width: 40px;
}
/* DETALLE DE PRODUCTO */
.fondoDetalleProducto {
  background-image: linear-gradient(
      rgba(120, 120, 115, 0.83),
      rgba(249, 218, 153, 0.659)
    ),
    url("../../../assets/imagenes/fondoH4.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
}
.contenedorDetalle {
  padding-top: 97px;
}
.imgDetalleProducto {
  width: 100%;
  height: 450px;
  object-fit: scale-down;
}

/* Media query para dispositivos con un ancho máximo de 992px (típicamente dispositivos medianos) */
@media (max-width: 992px) {
  /* PORTADA */
  .contenedorPortada {
    margin-top: 73px;
    border-radius: 10px;
  }
  .imgCarousel {
    height: 300px;
    border-radius: 10px;
    width: 92vw;
  }
  /* SECCION */
}
/* Media query para dispositivos con un ancho máximo de 768px (típicamente dispositivos móviles) */
@media (max-width: 768px) {
  /* PORTADA */
  .contenedorPortada {
    padding: 10px 0 !important;
  }
  .imgCarousel {
    height: 210px;
    border-radius: 10px;
  }
  /* PRODUCTOS */
  .cardContenedor {
    margin: 10px 0px;
  }

  .btnCard {
    padding: 5px;
  }
  .iconoCard {
    width: 30px;
  }
}
