/* HEADER */
.fondoHeaderOscuro {
  height: 68.7px;
  width: 100vw;
  background-color: #171717;
}
.header {
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  transition: background-color 0.3s; /* transición suave */
  padding: 0!important;
}
.headerExpanded{
  background-color: rgba(251, 231, 202, 0.875);

}
.header.scrolled {
  background-color: rgba(251, 231, 202, 0.875);
}
.homeBackground {
  background-color: rgb(251, 231, 202);
}
.defaultBackground {
  background-color: rgb(251, 231, 202);
}
.logoMenu {
  width: 70px;
}
.contenedorEnlacesNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-header {
  color: rgb(11, 11, 11) !important;
  font-weight: 550 !important;
}
.text-header:hover {
  color: #b00b0b !important;
}
.iconoHeader {
  width: 45px;
}

/* Media query para dispositivos con un ancho máximo de 992px (típicamente dispositivos medianos) */
@media (max-width: 992px) {
  .header{
    padding: 10px 0!important;
  }
  .contenedorEnlacesNav {
    align-items: end;
  }
}
/* Media query para dispositivos con un ancho máximo de 768px (típicamente dispositivos móviles) */
@media (max-width: 768px) {
 
}
